body {
	text-align: center;
}

.logo {
	margin-top: 90px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search {
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 12pt;
	height: 30px;
	box-shadow: 2px 2px 10px #cccccc;
	border: 0;
	padding: 7.5px;
}

.submit_buttons {
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

.submit:hover {
	border: 1px solid #bfbfbf;
	color: black;
	box-shadow: 0px 1px 5px #ccc;
}

.submit {
	margin-top: 35px;
	padding: 10px 15px;
	color: gray;
	font-weight: bold;
	background-color: #f7f6f6;
	border: 1px solid #eae9e9;
	font-size: 9.5pt;
}

.subBut {
	margin-right: 5px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f7f6f6;
	border-top: 0.5px solid #ececec;
}

.left, .right {
	color: gray;
	font-size: 9.5pt;
}

.left:hover, .right:hover {
	text-decoration: underline;
}

footer .left {
	float: left;
	padding: 15px;
}

footer .right{
	float: right;
	padding: 15px;
}