body {
	text-align: center;
}

.logo {
	margin-top: 90px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search {
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 12pt;
	height: 30px;
	box-shadow: 2px 2px 10px #cccccc;
	border: 0;
}

.submit_buttons {
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

.submit:hover {
	border: 1px solid grey;
	color: black;
}

.submit {
	margin-top: 35px;
	padding: 10px 15px;
	color: gray;
	font-weight: bold;
	background-color: #f7f6f6;
	border: 1px solid white;
	font-size: 9.5pt;
}

.subBut {
	margin-right: 5px;
}