.logo {
	margin-top: 90px; 
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search {
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 12pt;
	height: 45px;
	box-shadow: 2px 2px 10px #cccccc;
	border: 0;
	padding: 15px;
}

.submit_buttons {
	width: 270px;
	margin-right: auto;
	margin-left: auto;
}

.submit:hover {
	border: 1px solid #bfbfbf;
	color: black;
	box-shadow: 0px 1px 5px #ccc;
}

.submit {
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 15px;
	color: gray;
	font-weight: bold;
	background-color: #f7f6f6;
	border: 1px solid #eae9e9;
	font-size: 9.5pt;
}

.subBut {
	margin-right: 5px;
}

header, footer {
	position: absolute;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

footer {
	bottom: 0;
	background-color: #f7f6f6;
	border-top: 0.5px solid #ececec;
	color: gray;
}

.left, .right {
	font-size: 9.5pt;
	padding: 15px;
}

.left:hover, .right:hover {
	text-decoration: underline;
}

.left {
	float: left;
}

.right {
	float: right;
}

header {
	top: 10px;
	color: black;
}

.signin {
	background-color: #508aef;
	color: white;
	border-radius: 3px;
	font-weight: bold;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}

.signin:hover {
	text-decoration: none;
}

.demAppz {
	display: inline-grid;
	grid-template: repeat(3, 4px) / repeat(3, 4px);
	grid-gap: 2px;
	margin-right: 15px;
	display: -ms-inline-grid;
	-ms-grid-rows: (4px)[3];
	-ms-grid-columns: (4px)[3];
	-ms-grid-gap: 2px;
}

.demAppItem {
	background-color: grey;
}

.resultLogo {
	padding-top: 20px;
	padding-left: 13px;
}

.resultSearch {
	position: relative;
	top: -15px;
	left: 20px;
	font-size: 12pt;
	height: 45px;
	box-shadow: 1px 1px 5px .5px #cccccc;
	border: 3px;
	padding: 15px;
}
nav {
	padding-left: 153px;
	height: 27px;
	width: 782px;
}

nav a {
	font-size: 9pt;
	color: grey;
	padding: 15px;
	float: left;
}

nav a.selected {
	font-size: 9pt;
	color: #508aef;
	padding: 15px;
	font-weight: bold;
	border-style: solid;
	border-bottom-color: #508aef;
	border-bottom-width: 3px;
}

hr {
	border-width: .5px;
	border-color: #e8e8e8;
	clear: both;
}

.resultRight {
	float: right;
	vertical-align: top;
	height: auto;
}